/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
    background: -webkit-linear-gradient(to right,#4b0082,#4b00af,#4b005f);
    background:    -moz-linear-gradient(to right,#4b0082,#4b00af,#4b005f);
    background:         linear-gradient(to right,#4b0082,#4b00af,#4b005f);
    color: #000;
    font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.grid,
.container {
    margin: 0 auto;
    width: 100%;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt {
  min-width: 100%;
}
.row {
  background: #fff;
  padding: 50px 0 30px 0;
}
.row-alt {
  background: #aab7b8;
  background: -webkit-linear-gradient(to right, #bfc9ca, #d5dbdb);
  background:    -moz-linear-gradient(to right, #bfc9ca, #d5dbdb);
  background:         linear-gradient(to right, #bfc9ca, #d5dbdb);
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  /*color: #9370db;*/
  color: #fff;
}

h1, h3, h4, h5, p {
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite,
em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #F7FE1C;
}

p a {
  border-bottom: 1px solid #dfe2e5;
}

.primary-header a,
.primary-footer a {
  color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
  color: #F7FE1C;
}

/*
  ========================================
  Primary header
  ========================================
*/

.logo {
    float: left;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 40px;
    padding: 40px 0 20px 0;
    text-transform: uppercase;
}

.login-status {
    margin: 40px 0 10px 0;
    text-align: right;
    text-transform: none;
}

.primary-nav {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: none;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
    color: #fff;
    font-size: 16px;
    padding-bottom: 30px;
    padding-top: 44px;
    margin-bottom: 0;
}

.primary-footer small {
    float: left;
    font-weight: 400;
}

.primary-footer img {
    height: 35px;
    width: auto;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
    text-align: right;
}
.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}
.nav li:last-child {
    margin-right: 0;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #000;
  padding: 10px 30px;
  background: #5DADE2;
}

.btn-alt:hover {
  background: #F7FE1C;
  color: #4b0082;
}

.btn-default {
  border: 0;
  background: #5DADE2;
  padding: 11px 30px;
  font-size: 14px;
}

.btn-default:hover {
  background: #4b0082;
  color: #fff;
}


/*
  ========================================
  Home
  ========================================
*/

.hero {
    color: #fff;
    line-height: 44px;
    padding: 22px 80px 66px 80px;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 24px;
    font-weight: 100;
}

/* .teaser:hover {
  border: 2px solid #4b0082;
  border-radius: 10px;
} */

.teaser h2 {
    color: #000;
    text-align: center;
}

.teaser p {
   color: #000;
   font-weight: 300;
   font-size: 18px;
   text-align: center;
}

.teaser .btn {
   margin: 0 30% 0;
}

.teaser img{
  max-width: 100%;
  display: block;
  margin-bottom: 22px;
  border-radius: 5px;
}

/*
  ========================================
  Form
  ========================================
*/

form {
    width: 500px;
    margin: 0 auto 40px;
	padding: 30px;
    color: #000;
    font: 400 18px/20px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
                0 6px 20px 0 rgba(0,0,0,0.2);
}

input,
select,
textarea {
    outline: none;
    font: 300 15px/20px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 2% 5%;
    margin: 5px 0 5px;
    display: block;
    border: 2px solid #7b68ee;
    border-radius: 20px;
}

textarea {
    border-radius: 5px;
}

input[type=submit],[type=button] {
    border-radius: 0;
    text-align: center;
    background: #7b68ee;
    color: #fff;
    font: 400 20px/24px Helvetica, Arial, sans-serif;
}

.rad {
    width: 20px;
    display: inline-block;
    margin: auto 0 20px 10px;
}

/*
  ========================================
  Question
  ========================================
*/

.question {
    /* font-size: 200px; */
    border: 2px solid #4b0082; */
    color: #000;
}

/*
  ========================================
  Error
  ========================================
*/

.reporting {
    width: 100%;
    text-align: center;
    padding: 10px;
    /* border-radius: 20px; */
}

.error {
    color: #f94818;
    border: 2px solid #f94818;
    background: #fee2dd;
}

.success {
    color: #3ad717;
    border: 2px solid #3ad717;
    background: #dcfec6;
}
